<div class='p-7 h-screen'>
  <div class='h-1/6 flex flex-row justify-between items-center p-5'>
    <div class='text-3xl'>Dashboard</div>
    <div class='p-3 text-center border border-black rounded-xl font-bold'>Add</div>
  </div>
  <div class='h-1/6 flex flex-row justify-between p-5 text-center font-bold content-center'>
    <div class='flex items-center justify-center m-4 border border-black rounded-xl w-2/6 content-center'><%= @users.count %><br>Total Users</div>
    <div class='flex items-center justify-center m-4 border border-black rounded-xl w-2/6'><%= @pending.count %><br>Pending Users  </div>
    <div class='flex items-center justify-center m-4 border border-black rounded-xl w-2/6'> Total Money </div>
    <div class='flex items-center justify-center m-4 border border-black rounded-xl w-2/6'> Total Transactions </div>
  </div>
  <div class='h-4/6 flex flex-row '>
    <div class='p-5 m-4 border border-black rounded-xl w-3/4'>
      <div class='font-bold'>New Users </div>
      <div class='flex flex-col'>
        <% @newuser.each do |newuser| %>
        <div class='flex flex-row'>
            <div class='w-1/5'><%= newuser.id %></div>
            <div class='w-1/5'><%= newuser.role %></div>
            <div class='w-1/5'><%= newuser.email %></div>
            <div class='w-1/5'><%= newuser.created_at.to_time.strftime('%B %e at %l:%M %p') %></div>
            <div class='flex justify-center w-1/5'><%= newuser.pending %></div>
        </div>
        <% end %>
      </div>
    </div>
    <div class='p-5 m-4 border border-black rounded-xl w-1/4 font-bold'> Latest Transactions </div>
  </div>

</div>