<div class='p-7 h-screen'>
  <div class='h-1/6 flex flex-row justify-between items-center p-5'>
    <div class='text-3xl font-bold'>Pending Users</div>
    <div class='p-3 text-center border-2 border-black rounded-xl font-bold'><%= link_to 'Add', new_trader_path %></div>
  </div>
  <table class='w-full'> 
    <tr class='font-bold'>
      <th class='w-1/6'> ID </th>
      <th class='w-1/6'> Role </th>
      <th class='w-1/6'> Email </th>
      <th class='w-1/6'> Created at </th>
      <th class='w-1/6'> Status </th>
    </tr>
    <% @pending.each do |user| %>
    <tr class='text-center'>
      <td class=''><%= user.id %></td>
      <td class='uppercase'><%= user.role %></td>
      <td class=''><%= link_to user.email, trader_path(user.id) %></td>
      <td class='uppercase'><%= user.created_at.to_time.strftime('%B %e at %l:%M %p') %></td>
      <td>
        <%= button_to user.pending, trader_path(user), method: :patch,
                  params: {
                    'pending' => 'approved',
                  },
                  class: 'bg-red-400 uppercase p-1 rounded-2xl border-2 border-solid border-black' %>
      </td>
    </tr>
    <% end %>
  </table>
</div>