<div class='p-7 h-screen'>
  <div class='h-1/6 flex flex-row justify-between items-center p-5'>
    <div class='text-3xl'>Pending Users</div>
    <div class='flex flex-row justify-between items-center'>
      <div class='px-5'>Search</div>
      <div class='p-3 text-center border border-black rounded-xl font-bold'>Add</div>
    </div>
  </div>
  <div class='flex flex-col'>
    <% @pending.each do |pending| %>
    <div class='flex flex-row'>
        <div class='w-1/6'><%= pending.id %></div>
        <div class='w-1/6'><%= pending.role %></div>
        <div class='w-1/6'><%= pending.email %></div>
        <div class='w-1/6'><%= pending.created_at.to_time.strftime('%B %e at %l:%M %p') %></div>
        <div class='flex justify-center w-1/6'><%= pending.pending %></div>
        <div class='flex flex-row justify-end w-1/6'>
          <div class='px-5'>
          <%=
            button_to 'Approve'
          %>
          </div>
          <div class='px-5'>Delete</div>
        </div>
    </div>
    <% end %>
  </div>
</div>