<%= form_with model: [:trader, @user] do |form| %>
  <% if user.errors.any? %>
    <div id="error explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this changes from being saved: </h2>

      <ul>
        <% user.errors.each do |error| %>
         <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
      <div class="category-detail-list">
        <div class="category-add">
          <div class="category-add-field">
            <%= form.label :email, class: "taskLabel"%>
            <%= form.text_field :email, class: "ctitleInput" %>
          </div>
        </div>
        <div class="category-add">
          <div class="category-add-field">
            <%= form.label :password, class: "taskLabel" %>
            <%= form.text_area :password, class: "cdetailsInput" %>
          </div>
        </div>
        <div class="category-add">
          <div class="category-options">
          <div class="">
            <%= form.label :category, class: "taskLabel"%>
            <%= form.collection_select :category_id, current_user.categories, :id, :title%>
          </div>
          </div>
        </div>
        <div class="submit">
          <%= form.submit "Submit", class: "button-form" %>
        </div>
      </div>
<% end %>