<%= form_with(model: @view) do |form| %>
  <% if @user.errors.any? %>
    <div id="error explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved: </h2>

      <ul>
        <% @user.errors.each do |error| %>
         <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="header-title"> <%= @user.id %> </div>
  <div class="header-author"> Sender: <%= @user.email %> </div>
  <div class="header-created"> <%= @user.created_at %> </div>
  <div class="field one">
    <%= form.radio_button :pending, 'Waiting' %> 
    <%= form.label :pending, 'Waiting', :value => '0' %>
    <%= form.radio_button :pending, 'Approved' %>
    <%= form.label :pending, 'Approved', :value => '1' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>