<div class="topNavHeader">
  <a href=/posts><i class="bi bi-layer-backward"></i></a>
</div>

<div class="show-container">
  <div class="headers">
    <div class="header-title"> <%= @user.id %> </div>
    <div class="header-author"> Sender: <%= @user.email %> </div>
    <div class="header-created"> <%= @user.created_at %> </div>
  </div>
  <div class="body">
    <div class="body-body"> <%= @user.pending %> </div>
    <div class="body-buttons">
      <div class="edit-icon"><%= link_to 'Edit'.html_safe, edit_trader_path(@user) %></div>
      <div class="delete-icon"><%= link_to 'Delete'.html_safe %></div>
    </div>
  </div>
</div>