<!DOCTYPE html>
<html>
  <head>
    <title>Ethpros</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
  </head>

  <body>
    <main class="bg-white relative overflow-hidden h-screen">
      <div class='flex h-screen'>
        <div class='w-1/5 bg-zinc-500 flex flex-col p-10 text-white text-lg'>
          <div class='flex justify-center p-5'> 
            <div class='text-4xl'>Admin</div>
            <div class='text-4xl text-blue-800'>.</div>
          </div>
          <div class='h-full flex flex-col justify-between'>
            <div class=''>
              <div class='p-4'><%= link_to "Dashboard", admin_index_path %></div>
              <div class='p-4'><%= link_to "All Users", admin_all_path %></div>
              <div class='p-4'><%= link_to "Pending Users", admin_pending_path %></div>
              <div class='p-4'><%= link_to "Transactions", admin_transactions_path %></div>
            </div>
            <div>
              <div class='p-4 text-center border border-white rounded-xl font-bold'><%= button_to "Logout", destroy_user_session_path, method: :delete %></div>
            </div>
          </div>
        </div>
        <div class='w-4/5 bg-zinc-50'>
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
